.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #a4c639;
  width: 100%;
  padding: 6rem 5rem;
  color: #fff;
  text-decoration: none;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
}

.footer span {
  padding: 0 0.2rem;
}

.footer a {
  font-weight: 700;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  margin: 4rem 5rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .header {
    padding: 6rem 2rem;
  }

  .description {
    margin: 4rem 2rem;
  }
}
